*Thumbs.db
.DS_Store

.metadata
.actionScriptProperties
.flexProperties
.project
.settings
.as3proj

bin-debug
bin-debug*
bin-release
bin
/html-template

/Clock_iPhoneProject/obj
/Clock_on_6_pixels/obj
/Clock_on_five_point/obj/Clock_on_five_sectorsConfig.old
/Clock_on_five_point/obj/Clock_on_five_sectorsConfig.xml
/Clock_on_five_point/obj/Clock_on_five_pointsConfig.old
/Clock_on_five_point/obj/Clock_on_five_pointsConfig.xml
/Clock_on_five_point/obj
/Clock_on_five_point_without_center/obj
/Clock_on_five_sectors/obj
/Site_Clock/obj